.home-header {
  padding: 5rem 0px;
  color: #ffffff;
  min-height: max-content;
  height: 40vh;
  position: relative;
  h1 {
    color: white;
  }
  @media screen and (max-width: 768px) {
    padding: 1rem 0px;
  }
}
.search-area {
  background-color: white;
  padding: 5px;
  width: fit-content;
  border-radius: 24px;
  max-width: 100%;
  display: flex;
  i {
    margin: 0px 10px;
    font-size: 20px;
    color: $lightBlue;
  }
  button {
    background-color: $lightBlue;
  }

  div {
    border: none !important;
  }
}

.services {
  @include flex(row, space-between, center);
  padding: 2rem 4rem;
  color: white;
  border-radius: $radius;
  top: calc(40vh - 8rem);
  width: 100%;
  > div {
    @include flex(row, flex-start, center);
    padding: 0px 2rem;
    i {
      font-size: 45px;
      margin-right: 10px;
    }
    h3 {
      font-family: 'Airbnb Cereal App Light', sans-serif;
      font-weight: 100;
      color: white;
      font-size: 15px;
      width: 6rem;
    }
    @media screen and (max-width: 600px) {
      padding: 0px;
      @include flex(column, center, center);
    }
  }
  @media screen and (max-width: 768px) {
    padding: 2rem 1rem;
    top: calc(100% + 2rem);
  }
}
